body{
    
    background-color:#fffff0 ;
    background-size:cover;
    text-align: center;
}


form{
    font-weight: 700;
    font-family: 'Oxygen';
    font-size: 20px;
}


.button{
    background-color: darkgray;
    border: none;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
}



#heading{
color:black;
font-size: 40px;
font-family: 'Oxygen';
}


h1 {
margin-left: 70px;
}
form li {
list-style: none;
margin-bottom: 5px;
}



#survey-form{
    margin-left:15rem;
    padding:5rem;
    background-color: #f8f9f5;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:50%;
    height:auto;
    text-align: justify;
    border-radius: 2%;
    
}

#survey-form:hover{
    box-shadow:3px 3px 5px 6px #f6f4f1;
}

form ul li label{
    float: left;
    clear: left;
    margin: 10px;
    width: 100px;
    text-align: left;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Oxygen';
    }
    
    form ul li input, select{
    float: left;
    margin: 10px;
    margin-bottom: 10px;
    padding: 5px;
    }
    span{
        float:left;
        margin-top:10px;
    }
    form textarea {
    float: left;
    width: 350px;
    height: 150px;
    }
    
    [type="submit"] {
    clear: left;
    margin: 20px 0 0 230px;
    font-size:18px
    }

